<div class="container principal">
  <br>
	<div class="container">

	  <div class="row">
	    <div class="col-md-8 principal-contenido">
			<h2>Listado de productos</h2>
			<button *ngIf="!logeado" class="btn btn-success" routerLink="/crear-producto">Nuevo</button>



		<div *ngFor="let producto of productos">
			<div class="card">
			  <div class="card-body">
			  	<div class="container">
			  		<div class="row">
			  			<div class="col-md-3">
			  				<img class="img-thumbnail" src="{{ producto.imagen ? url + producto.imagen : imgdefault }}" alt="Card image cap">
			  			</div>
			  			<div class="col-md-8">
						    <h5 class="card-title">{{ producto.nombre }}</h5>
						    <h6 class="card-subtitle mb-2 text-muted">{{ producto.descripcion }}</h6>
						    <p class="card-text">Producto: </p>
							<a *ngIf="logeado" (click)="mostrarProducto(producto.id)" class="btn btn-light">Editar</a>
							<a *ngIf="logeado" (click)="eliminarProducto(producto.id)" class="card-link">Eliminar</a>	
			  			</div>
			  		</div>
			  	</div>
			  </div>
			</div>
			<br>
		</div>  

		<!--

			<table class="table table-hover table-bordered">
				<thead>
					<th>Imagen</th>
				    <th>Nombre</th>
				    <th>Descripcion</th>
					<th>Acción</th>
				</thead>
				<tbody>
					<tr id="producto.id" *ngFor="let producto of productos">
						<td><img class="img-thumbnail" src="{{ producto.imagen ? url + producto.imagen : imgdefault }} " alt="Card image cap"></td>
			        	<td>{{ producto.nombre }}</td>
						<td>{{ producto.descripcion }}</td>
						<td>
							<a [routerLink]="['/modificar-producto', producto.id]" class="btn btn-light">Editar</a>
							<a (click)="eliminarProducto(producto.id)" class="btn btn-light">Eliminar</a>
						</td>
						
					</tr>
				</tbody>
			</table>

		-->


		</div>
	    <div class="col-md-4 sidebar">
	    	<div style="position:fixed">


			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">Realiza una busqueda</h5>
			    <div class="card-text">
			        <input (keyup)="onKey($event)" class="form-control" id="myInput" type="text" placeholder="Buscar..">
			        <br>
			        <!-- <button class="btn btn-primary btn-lg btn-block" routerLink="/">Buscar</button> -->

					<button *ngIf="logeado" type="button" class="btn btn-success btn-lg btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Nuevo</button>
					<div id="collapseExample" [ngbCollapse]="isCollapsed">
					  <div class="card">
					    <div class="card-body">
					      <app-crear-oferta *ngIf="logeado"></app-crear-oferta>
					    </div>
					  </div>
					</div>	
				</div>
			  </div>
			</div>

	    </div>         
	  </div>

	  <br>
	  <br>
	</div>
</div>			