<div class="container principal">
  <br>
<div class="container">

  <div class="row">
    <div class="col-md-8 principal-contenido">
		<div class="form-group" text-center>
			<h2>Listado de ofertas</h2>
			<button *ngIf="autenticado" class="btn btn-success" routerLink="/crear-oferta">Nuevo</button>
		</div>

		<img *ngIf="loading" src="assets/img/loading.gif"/> 

		<div *ngIf="!ofertas">No se encuentra</div>
		<div *ngFor="let oferta of ofertas">
			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">{{ oferta.residuo.nombre }}</h5>
			    <h6 class="card-subtitle mb-2 text-muted">{{ oferta.almacen.nombre }}</h6>
			    <img class="card-img-top" src="assets/img/103375_91919_1.jpg" style="width: 100px" alt="Card image cap">
			    <p class="card-text">Residuos: {{ oferta.residuo.nombre }} - Porcentaje: {{ oferta.descuento.porcentaje }} </p>
					<a *ngIf="autenticado" (click)="mostraroferta(oferta.id)" class="btn btn-light">Editar</a>
					<a *ngIf="autenticado" (click)="eliminaroferta(oferta.id)" class="card-link">Eliminar</a>
			  </div>
			</div>
			<br>
		</div>              
      
    </div>

    <div class="col-md-4 sidebar">

        <br>
        <p>Realiza una búsqueda</p>
        <input (keyup)="onKey($event)" class="form-control" id="myInput" type="text" placeholder="Buscar..">
        <br>
        <button class="btn btn-primary" routerLink="/">Buscar</button>
    </div>         
  </div>

  <br>
  <br>
</div>