<div class="container principal">
  <br>
<div class="container">

  <div class="row">
    <div class="col-md-8 principal-contenido">
		<div class="form-group" text-center>
			<h2>Listado de ofertas</h2>
		</div>	

		<img *ngIf="loading" src="assets/img/loading.gif"/> 

		<div *ngIf="!ofertas">No se encuentra</div>
		<div *ngFor="let oferta of ofertas">
			<div class="card">
			  <div class="card-body">
			  	<div class="container">
			  		<div class="row">
			  			<div class="col-md-3">
			  				<img class="img-thumbnail" src="{{url + oferta.imagen}}" alt="Card image cap">	
			  			</div>
			  			<div class="col-md-8">
						    <h5 class="card-title">{{ oferta.titulo }}</h5>
						    <h6 class="card-subtitle mb-2 text-muted">{{ oferta.almacen.nombre }}</h6>
						    <p class="card-text">Residuos: {{ oferta.residuo.nombre }} - Porcentaje: {{ oferta.descuento.porcentaje }} </p>
							<a *ngIf="logeado" (click)="mostrarOferta(oferta.id)" class="btn btn-light">Editar</a>
							<a *ngIf="logeado" (click)="eliminarOferta(oferta.id)" class="card-link">Eliminar</a>	
			  			</div>
			  		</div>
			  	</div>
			  </div>
			</div>
			<br>
		</div>              
      
    </div>

    <div class="col-md-4 sidebar">
    	<div style="position:fixed">



			<div class="card">
			  <div class="card-body">
			    <h5 class="card-title">Realiza una busqueda</h5>
			    <div class="card-text">
			        <input (keyup)="onKey($event)" class="form-control" id="myInput" type="text" placeholder="Buscar..">
			        <br>
			        <!-- <button class="btn btn-primary btn-lg btn-block" routerLink="/">Buscar</button> -->

					<button *ngIf="logeado" type="button" class="btn btn-success btn-lg btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Nuevo</button>
					<div id="collapseExample" [ngbCollapse]="isCollapsed">
					  <div class="card">
					    <div class="card-body">
					      <app-crear-oferta *ngIf="logeado"></app-crear-oferta>
					    </div>
					  </div>
					</div>	
				</div>
			  </div>
			</div>

    	</div>
    </div>         
  </div>

  <br>
  <br>
</div>