<h1>Modificar descuento</h1>
<form>
	<div class="form-group">
		<label for="titulo">titulo</label>
		<input [(ngModel)]="descuento.titulo" type="text" name="titulo" class="form-control">
	</div>
	<div class="form-group">
		<label for="descripcion">descripcion</label>
		<textarea [(ngModel)]="descuento.descripcion" type="text" name="descripcion" class="form-control"></textarea>
  </div>
	<div class="form-group">
		<label for="porcentaje">porcentaje</label>
		<textarea [(ngModel)]="descuento.porcentaje" type="text" name="porcentaje" class="form-control"></textarea>
  </div>
	<button class="btn btn-success" (click)="modificarDescuento()">Modificar descuento</button>
</form>